@import "searchbar.css";
@import "carousel.css";
@import "card.css";

:root{
    --soft-blue:aliceblue;
    --soft-pink:#EE9A9A;
    --gray:#96A5B3;
}

*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:unset;
}

body{
    background-color:var(--soft-blue);
}

header{
    display:flex;
    flex-direction: column;
    background-color:var(--soft-blue);
    height:10vh;
    /**/
    border-bottom: 1px solid gray;
    border-radius: 5px;
    justify-content: center;
}

header ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    -moz-column-gap: 40px;
         column-gap: 40px;
    align-items: center;
    font-size: 1.5em;
    color:var(--soft-pink);
    font-weight: bold;
}

header ul img{
    display:block;
    margin-left: 10px;
}

header ul li:last-child{
    margin-left: auto;
    margin-right: 10px;
}

.home-page{
    display: flex;
    flex-direction: column;
    min-height:90vh;
    row-gap: 0vh;
}

footer{
    display:flex;
    flex-direction: row;
    height:7vh;
    background-color:var(--gray);
    align-items:center;
    justify-content:center;
}

.title-trending{
    width:90%;
    margin-left:5%;
    border-bottom: 2px solid var(--soft-pink);
    color:var(--soft-pink);
}