@import "searchbar.css";
@import "carousel.css";
@import "card.css";
@import "checkout.css";

:root{
    --soft-blue:aliceblue;
    --hard-blue:#4267B2;
    --soft-pink:#EE9A9A;
    --focus:#ED8282;
    --gray:#96A5B3;
    --error:red;
    --confirm:#32CD32;
}

::placeholder{
    font-size: large;
}

*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:unset;
}

body{
    background-color:var(--soft-blue);
}

header{
    display:flex;
    flex-direction: column;
    background-color:var(--soft-blue);
    height:10vh;
    justify-content: center;
    outline:1px var(--gray) solid;
}

header ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    -moz-column-gap: 40px;
         column-gap: 40px;
    align-items: center;
    font-size: 1.5em;
    color:var(--soft-pink);
    font-weight: bold;
}

header ul img{
    display:block;
    margin-left: 10px;
}

header ul li:last-child{
    margin-left: auto;
    margin-right: 20px;
}

.home-page{
    display: flex;
    flex-direction: column;
    min-height:90vh;
    row-gap: 0vh;
}

footer{
    display:flex;
    flex-direction: row;
    height:7vh;
    background-color:var(--gray);
    align-items:center;
    justify-content:center;
}

.title-trending{
    width:90%;
    margin-left:5%;
    border-bottom: 2px solid var(--soft-pink);
    color:var(--soft-pink);
}

.login{
    height:83vh;
    width:100%;
    background-color:var(--soft-blue)
}

.show-product{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5vw;
    align-items: center;
    justify-content: center;
    min-height:83vh;
    width:100%;
    background-color:var(--soft-blue);
}

.product-img-big{
    height:400px;
    width:400px;
    border:4px solid var(--soft-pink);
    border-radius: 10px;
}

.edit-product-list{
    display:flex;
    flex-direction: column;
    font-size: 1.2em;
}

.product-text{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2vh;
    width:40vw;
}

.product-title{
    color:var(--soft-pink);
    font-size: 3em;
    font-weight: bold;
}

.product-description{
    font-size: 1.3em;
}

.buy-now{
    font-size: 1em;
    font-weight: bold;
    color:var(--hard-blue);
    text-decoration: underline;
}

.flex-form{
    height:100%;
    width:100%;
    row-gap: 2vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.input-login{
    border: 2px solid var(--soft-pink);
    border-radius: 50px;
    height:50px;
    width:500px;
    font-size: 1.5em;
    direction: ltr;
    padding:0 10px 0 10px;
}

.input-login:focus{
    outline: 1px solid var(--focus);
}

.submit-button:focus{
    outline: 1px solid var(--focus);
}

.submit-button:hover{
    cursor:pointer;
}

label{
    display: block;
    margin-left: 10px;
    color:var(--soft-pink);
    font-size: 1em;
    margin-bottom: 2px;
}

.small-error{
    color:var(--red);
    margin-left:10px;
    margin-top: 5px;
    font-size: 1em;
}



.title{
    color:var(--soft-pink);
    font-size: 2em;
    text-decoration: underline;
}

.submit-button{
    border:2px solid var(--soft-pink);
    border-radius: 10px;
    width:125px;
    font-size: 1.2em;
    background-color: var(--soft-pink);
    color:white;
}

.register-link{
    text-decoration: underline var(--hard-blue);
    color: var(--hard-blue);
}

.flex-register{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-message{
    font-size: 1.6em;
    font-weight: bold;
}

.flex-orders{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:100%;
    height:100%;
}

.order-case{
    color:var(--soft-pink);
    font-weight: bold;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:50px;
    width:200px;
    background-color:#4267B2;
    border:0.1em solid var(--soft-pink);
    border-radius: 5px;
}

.order-number{
    flex-grow:0;
    margin-right:auto;
}

.number-block{
    margin-right:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    width:20%;
    border-right: 2px solid var(--soft-pink);
    border-radius: 100%;
}

.trash-icon-space{
    margin:0 10px;
}

.warning-box{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height:150px;
    width:30%;
    min-width: 400px;
    background:var(--soft-blue);
    border:2px solid var(--gray);
    border-radius: 10px;
    padding:10px;
}

.button-cancel{
    width:150px;
    height:30px;
    margin:20px;
    color:var(--error);
}

.confirm-box{
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-confirm{
    width:150px;
    height:30px;
    margin:20px;
    color:var(--confirm);
}

.button-box{
    position:absolute;
    bottom:0%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.warning-message{
    font-size: 20px;
}

.warning-container{
    width: 100%;
    height: 100%;
    top:0%;
    position: fixed;
    visibility:hidden;
    display:none;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(22,22,22,0.5);*/
    background-color: rgba(150,165,179,0.7);
}

.edit-form{
    width: 100%;
    height: 100%;
    top:0%;
    position: fixed;
    visibility: hidden;
    display:none;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(22,22,22,0.5);*/
    background-color: rgba(150,165,179,0.7);
}

.edit-box{
    position:relative;
    display:flex;
    align-items:top;
    justify-content: top;
    flex-direction: column;
    min-height:150px;
    width:30%;
    min-width: 250px;
    background:var(--soft-blue);
    border:2px solid var(--gray);
    border-radius: 10px;
    padding:10px;
    row-gap:5px;
}

.x-close{
    position:absolute;
    top:-10px;
    right:-10px;
    background-color:var(--error);
    height:20px;
    width:20px;
    border-radius: 100%;
}

.box-title{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.single-line{
    display: flex;
    flex-direction: row;
}

.second-box-title{
    font-size: 1.5em;
}

.small-price{
    font-size: 0.5em;
    font-weight:400;
    color:var(--focus);
}

@media only screen and (max-width: 600px){
    .input-login{
        width:300px;
    }
    .empty-message{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 770px){
    .show-product{
        margin:20px 0px;
        row-gap: 20px;
    }
}