.trending-cards{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 20px;
    min-height:25vh;
    justify-content: center;
    align-items:center;
    margin:20px;
}

.card{
    position:relative;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    overflow:hidden;
}

.card-shade{
    position:absolute;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(238, 154, 154, 0.8);
    transition: transform 0.5s;
    border-radius: 10px;
    transform: translateY(100%);
}

.card:hover .card-shade{
    transform:translateY(0%);
}

.card-title{
    width:90%;
    color:var(--soft-blue);
    margin:50px 0 0 10px;
    border-bottom: 2px solid var(--soft-blue);
}

.card-buy{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top:50%;
    left:25%;
    width:50%;
    height:30px;
    font-weight: bold;
    font-size: 1em;
    color:var(--soft-blue);
    border-radius: 10px;
    background-color: var(--hard-blue);
}

.small-card{
    height:200px;
    width:200px;
}

@media only screen and (max-width: 600px){
    .small-card{
        height:150px;
        width:150px;
    }
    .card-buy{
        margin-top: 20px;
    }
}