.searchbar{
    width:0px;
    height:40px;
    visibility: hidden;
    transition: width 0.5s;
    line-height: 40px;
    font-size:1em;
}

.search{
    display:flex;
    flex-direction: row;
    gap:20px;
    min-width:110px;
    align-items: center;
}

.right-menu{
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.welcome{
    display: inline;
    font-size: 0.6em;
}

.logout{
    font-size: 1em;
}